ip access-list extended {{a.acl_name}}
{% if a.port_number|length %}
{% if a.time_range is not none %}
{% if a.source is not none and a.destination is not none %}
permit {{a.protocol_type}} {{source.ip}} {{source_wild_card}} {{destination.ip}} {{destination_wild_card}} time-range {{a.time_range}} eq {{ a.port_number }}

{% elif a.source is not none %}
permit {{a.protocol_type}} {{source}} {{source_wild_card}} any time-range {{a.time_range}} eq {{ a.port_number }}

{% elif a.destination is not none %}
permit {{a.protocol_type}} any {{destination}} {{destination_wild_card}} time-range {{a.time_range}} eq {{ a.port_number }}
{% else %}
permit {{a.protocol_type}} any any time-range {{a.time_range}} eq {{ a.port_number }}
{% endif %}
{% else %}
{% if a.source is not none and a.destination is not none %}
permit {{a.protocol_type}} {{source}} {{source_wild_card}} {{destination}} {{destination_wild_card}} eq {{ a.port_number }}

{% elif a.source is not none %}
permit {{a.protocol_type}} {{source}} {{source_wild_card}} any eq {{ a.port_number }}

{% elif a.destination is not none %}
permit {{a.protocol_type}} any {{destination}} {{destination_wild_card}} eq {{ a.port_number }}
{% else %}
permit {{a.protocol_type}} any any eq {{ a.port_number }}
{% endif %}
{% endif %}
{% else %}
{% if a.time_range is not none %}
{% if a.source is not none and a.destination is not none %}
permit {{a.protocol_type}} {{source.ip}} {{source_wild_card}} {{destination.ip}} {{destination_wild_card}} time-range {{a.time_range}}

{% elif a.source is not none %}
permit {{a.protocol_type}} {{source}} {{source_wild_card}} any time-range {{a.time_range}}

{% elif a.destination is not none %}
permit {{a.protocol_type}} any {{destination}} {{destination_wild_card}} time-range {{a.time_range}}
{% else %}
permit {{a.protocol_type}} any any time-range {{a.time_range}}
{% endif %}
{% else %}
{% if a.source is not none and a.destination is not none %}
permit {{a.protocol_type}} {{source}} {{source_wild_card}} {{destination}} {{destination_wild_card}}

{% elif a.source is not none %}
permit {{a.protocol_type}} {{source}} {{source_wild_card}} any

{% elif a.destination is not none %}
permit {{a.protocol_type}} any {{destination}} {{destination_wild_card}}
{% else %}
permit {{a.protocol_type}} any any
{% endif %}
{% endif %}
{% endif %}
