{% if device.wan() or device.ingress() %}
{{police_in.add_applications}}
{{police_in.render_policy}}
{% endif %}
{% if device.egress() %}
{% for policy in policies %}
{{policy.render_policy}}
exit
{% endfor %}
{% endif %}
{{device.service_policy()}}