{% for class in classes %}
class-map {{class.name}}
{% if class.business_app is not none %}
{{class.match}}
{% endif %}
match access-group name {{ class.acl_name }}
exit
{% endfor %}
policy-map {{a.name}}
{% for class in classes %}
class {{class.name}}
set dscp {{class.dscp_value}}
{% endfor %}
