flow record IQoSrecord
match ipv4 source address
match ipv4 destination address
match ipv4 protocol 
match transport source-port 
match transport destination-port 
match interface input 
match interface output
match ipv4 tos
collect counter bytes
collect counter packets 
collect timestamp sys-uptime first
collect timestamp sys-uptime last
collect application name

flow exporter IQoSExporter 
destination {{ destination }}
source {{source}}
transport udp 2055
export-protocol netflow-v9
template data timeout 60
option application-table timeout 60
option application-attributes timeout  30


flow monitor IQoSmonitor 
record IQoSrecord
exporter IQoSExporter 
cache timeout active 60
cache timeout inactive 15
exit